<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <form action="/sign-up" method="post">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required />
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required />
      <button type="submit">Sign Up</button>
    </form>
    <form action="/create-folder" method="post">
      <label for="newFolder">Create Folder</label>
      <input type="text" id="newFolder" name="newFolder" required />
      <button type="submit">Submit</button>
    </form>
    <%- include("./partials/fileComponent") %> <%-
    include("./partials/fileInputForm", {actionUrl:"/submit-file"}) %>
  </body>
</html>
