<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sub Folder</title>
  </head>
  <body>
    <h1><%= folder.folderName %></h1>
    <form action="/create-folder" method="post">
      <label for="newFolder">Create Folder</label>
      <input type="text" id="newFolder" name="newFolder" />
      <input type="hidden" name="folderId" value="<%= folder.id %>" />
      <button type="submit">Submit</button>
    </form>
    <%- include("./partials/fileComponent") %> <%-
    include("./partials/fileInputForm", {actionUrl:"/submit-file"}) %>
    <a href="/">Home</a>
  </body>
</html>
